# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# VSCode settings
.vscode/

# Python virtual environments
env/
venv/
ENV/
.venv/

# Pytest cache
.pytest_cache/

# Logs
*.log

# MacOS files
.DS_Store

# Other temporary files
*.tmp
